
.container{
    border: 0.5px solid rgb(196, 196, 196);
    width: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.container img{
    width: 80px;
    height: 80px;
}
.container button{
    width: 100px;
    background-color: blue;
    color: white;
}